@page "/"
@inject FootballApiService FootballApiService
@using MatchScore.Models
@using MatchScore.Services;
@using System.Threading;
@using System.Threading.Tasks;


<div class="layout-wrapper">
    <div class="sidebar">
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <p>@errorMessage</p>
        }
        else if (groupedFixtures == null)
        {
            <div class="spinner"></div>
        }
        else if (!groupedFixtures.Any())
        {
            <div class="spinner"></div>
        }
        else
        {
            <div><img src="images\match-score.webp" alt="Match Score" class="match-score" /></div>
            <div class="favourites-header" @onclick="LoadFavouriteClubFixtures">
                <h3><i class="fas fa-star"></i>Favourites</h3>
            </div>
            @foreach (var countryGroup in groupedFixtures)
            {
                <div class="country-item">
                    <div class="country-header" @onclick="() => ToggleCountry(countryGroup.Key)">
                        @if (countryGroup.Key == "World")
                        {
                            <img src="images\world-flag.jpg" alt="World Flag" class="country-flag" />
                        }
                        else
                        {
                            <img src="@countryGroup.Value.FirstOrDefault()?.League?.Flag" alt="Country Flag" class="country-flag" />
                        }
                        <span class="country-name">@countryGroup.Key</span>
                    </div>
                    @if (expandedCountries.TryGetValue(countryGroup.Key, out var isCountryExpanded) && isCountryExpanded)
                    {
                        <div class="leagues-container">
                            @foreach (var leagueGroup in countryGroup.Value.GroupBy(f => f?.League?.Id))
                            {
                                var league = leagueGroup.FirstOrDefault()?.League;
                                if (league != null)
                                {
                                    <div class="league-item" @onclick="() => SelectLeague(league.Id)">
                                        <img src="@league.Logo" alt="League Logo" class="league-logo" />
                                        <span class="league-name">@league.Name</span>
                                    </div>
                                }
                            }
                        </div>
                    }
                </div>

            }
        }
    </div>
    <div class="content">
        @if (!showingFavourites) {
            @if (selectedLeagueId.HasValue && !showingFavourites)
            {
                var selectedLeague = groupedFixtures.SelectMany(g => g.Value)
                .Select(f => f.League)
                .FirstOrDefault(l => l.Id == selectedLeagueId);

                @if (selectedLeague != null)
                {
                    <div class="league-info">
                        <img src="@selectedLeague.Logo" alt="League Logo" class="league-logo-2" />
                        <span class="league-name-2">@selectedLeague.Name</span>
                    </div>
                }
                if (isLoadingFixtures)
                {
                    <div class="spinner-2"></div>
                }
                else {
                    <div class="toggle-bar" @onclick="ToggleStandings">
                        <span>@($"{(showStandings ? "▼" : "►")} Show Standings")</span>
                    </div>
                    @if (showStandings)
                    {
                        <table>
                            <thead>
                                <tr>
                                    <th class="table-header">Rank</th>
                                    <th class="table-header">Team</th>
                                    <th class="table-header">Played</th>
                                    <th class="table-header">GD</th>
                                    <th class="table-header">Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var standing in leagueStandings)
                                {
                                    <tr>
                                        <td>@standing.Rank</td>
                                        <td>
                                            <img src="@standing?.Team?.Logo" alt="@standing?.Team?.Name" class="team-logo" />
                                            <span class="team-name">@standing?.Team?.Name</span>
                                        </td>
                                        <td>@standing?.All?.Played</td>
                                        <td>@standing?.GoalsDiff</td>
                                        <td>@standing?.Points</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                }
            }
            @if (selectedLeagueId.HasValue && !showingFavourites)
            {
                @foreach (var fixtureDateGroup in leagueFixturesByDate.OrderBy(kv => kv.Key))
                {
                    <h3 class="fixture-date">@fixtureDateGroup.Key.ToString("dddd, MMMM dd")</h3>
                    var matchesForSelectedLeagueAndDate = fixtureDateGroup.Value
                    .Where(f => f.League?.Id == selectedLeagueId.Value)
                    .ToList();

                    if (matchesForSelectedLeagueAndDate.Any())
                    {
                        <table class="matches-table">
                            <tbody>
                                @foreach (var match in matchesForSelectedLeagueAndDate)
                                {
                                    <tr @onclick="() => ToggleMatchDetails(match.Details.Id)" class="@GetRowClass(match)">
                                        <td class="minute-display">
                                            <div class="content-center">
                                                @GetMinuteDisplay(match)
                                            </div>
                                        </td>
                                        <td class="home-team-cell">
                                            <div class="content-center">
                                                @match.Teams?.Home?.Name
                                                <img src="@match.Teams?.Home?.Logo" alt="Home Team Logo" />
                                                <button @onclick="() => AddToFavourite(match.Teams?.Home)" class="favourite-button">
                                                    <i class="@GetStarClass(match.Teams?.Home)"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td class="score-cell">
                                            <div class="content-center">
                                                @GetScoreOrTime(match, out var minuteDisplay)
                                            </div>
                                        </td>
                                        <td class="away-team-cell">
                                            <div class="content-center">
                                                <button @onclick="() => AddToFavourite(match.Teams?.Away)" class="favourite-button">
                                                    <i class="@GetStarClass(match.Teams?.Away)"></i>
                                                </button>
                                                <img src="@match.Teams?.Away?.Logo" alt="Away Team Logo" />
                                                @match.Teams?.Away?.Name
                                            </div>
                                        </td>
                                    </tr>
                                    @if (selectedMatchId == match.Details?.Id)
                                    {
                                        <tr class="match-details">
                                            <td colspan="4">
                                                <div class="toggle-bar" @onclick="() => ToggleLineups(match.Details.Id)">
                                                    <span>@($"{(lineupsVisible ? "▼" : "►")} Show Lineup")</span>
                                                </div>
                                                @if (lineupsVisible)
                                                {
                                                    <div class="lineup-match-details-flex-container">
                                                        @if (lineupDetails.TryGetValue(match.Details?.Id ?? -1, out var lineupResponse) && lineupResponse.Response.Any())
                                                        {
                                                            @foreach (var lineup in lineupResponse.Response)
                                                            {
                                                                <div class="lineup-match-details-container @(match?.Teams?.Home?.Id == lineup?.Team?.Id ? "home-lineup" : "away-lineup")">
                                                                    <img src="@lineup?.Team?.Logo" alt="@lineup?.Team?.Name Logo" class="team-logo" />
                                                                    <div class="team-lineup-info">
                                                                        <h5>@lineup?.Team?.Name</h5>
                                                                        <p>Formation: @lineup?.Formation</p>
                                                                        <div class="starting-xi">
                                                                            <h6>Starting XI</h6>
                                                                            @foreach (var player in lineup.StartXI)
                                                                            {
                                                                                var playerEvents = matchEvents.Where(e => e.Player.Id == player.Player.Id).ToList();
                                                                                string playerClass = "";
                                                                                string subDetailOut = "";
                                                                                string subDetailIn = "";
                                                                                string substitutionIcon = "";

                                                                                <div class="@playerClass">
                                                                                    <div class="player-info">
                                                                                        @if (match.Teams.Away.Id == lineup.Team.Id)
                                                                                        {
                                                                                            @foreach (var evt in playerEvents)
                                                                                            {
                                                                                                @DisplayEventIcon(evt)
                                                                                            }
                                                                                        }

                                                                                        @player.Player.Name @player.Player.Number

                                                                                        @if (match.Teams.Home.Id == lineup.Team.Id)
                                                                                        {
                                                                                            @foreach (var evt in playerEvents)
                                                                                            {
                                                                                                @DisplayEventIcon(evt)
                                                                                            }
                                                                                        }
                                                                                    </div>
                                                                                    @if (!string.IsNullOrEmpty(subDetailOut) || !string.IsNullOrEmpty(subDetailIn))
                                                                                    {
                                                                                        <div class="substitution-details">
                                                                                            <span class="@playerClass">@subDetailOut</span>
                                                                                            <span class="@playerClass">@subDetailIn</span>
                                                                                        </div>
                                                                                    }
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                        <div class="substitutes">
                                                                            <h6>Substitutes</h6>
                                                                            @foreach (var sub in lineup.Substitutes)
                                                                            {
                                                                                var playerEvents = matchEvents.Where(e => e.Player.Id == sub.Player.Id).ToList();
                                                                                string playerClass = "";
                                                                                string subDetailOut = "";
                                                                                string subDetailIn = "";
                                                                                string substitutionIcon = "";
                                                                                <div class="@playerClass">
                                                                                    <div class="player-info">
                                                                                        @if (match.Teams.Away.Id == lineup.Team.Id)
                                                                                        {
                                                                                            @foreach (var evt in playerEvents)
                                                                                            {
                                                                                                @DisplayEventIcon(evt)
                                                                                            }
                                                                                        }

                                                                                        @sub.Player.Name @sub.Player.Number

                                                                                        @if (match.Teams.Home.Id == lineup.Team.Id)
                                                                                        {
                                                                                            @foreach (var evt in playerEvents)
                                                                                            {
                                                                                                @DisplayEventIcon(evt)
                                                                                            }
                                                                                        }
                                                                                    </div>
                                                                                    @if (!string.IsNullOrEmpty(subDetailOut) || !string.IsNullOrEmpty(subDetailIn))
                                                                                    {
                                                                                        <div class="substitution-details">
                                                                                            <span class="@playerClass">@subDetailOut</span>
                                                                                            <span class="@playerClass">@subDetailIn</span>
                                                                                        </div>
                                                                                    }
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <p class="no-data-message">No lineups available for this match. Please check back later for updates.</p>
                                                        }
                                                    </div>
                                                }
                                                <div class="toggle-bar" @onclick="() => ToggleStatistics(match.Details.Id)">
                                                    <span>@($"{(statsVisible ? "▼" : "►")} Show Statistics")</span>
                                                </div>
                                                @if (statsVisible)
                                                {
                                                    <div class="team-stats-container">
                                                        @if (matchDetails.TryGetValue(match.Details?.Id ?? -1, out var statsResponse) && statsResponse.Response.Any())
                                                        {
                                                            @foreach (var teamStats in statsResponse.Response)
                                                            {
                                                                <div class="team-stats @(teamStats.Team?.Id == match.Teams?.Home?.Id ? "home-team" : "away-team")">
                                                                    <img src="@teamStats.Team?.Logo" alt="@teamStats.Team?.Name Logo" />
                                                                    <h2>@teamStats.Team?.Name</h2>
                                                                    @foreach (var stat in teamStats.Statistics)
                                                                    {
                                                                        <p><strong>@stat.Type</strong><br> @(stat.Value?.ToString() ?? "0")</p>
                                                                    }
                                                                </div>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <p class="no-data-message">No statistics available for this match. Please check back later for updates.</p>
                                                        }
                                                    </div>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    }
                }
            }
            else
            {
                <p class="centered-text">Select a league to view its matches.</p>
            }
        }
        else {
            @if (showingFavourites)
            {
                @foreach (var fixtureDateGroup in favouriteFixturesByDate.OrderBy(kv => kv.Key))
                {
                    <h3 class="fixture-date">@fixtureDateGroup.Key.ToString("dddd, MMMM dd")</h3>
                    var favouriteClubIds = FavouriteClubs.Select(fc => fc.ClubId).ToList();

                    var matchesForFavouriteClubs = fixtureDateGroup.Value
                    .Where(fixture => favouriteClubIds.Contains(fixture.Teams?.Home?.Id) ||
                    favouriteClubIds.Contains(fixture.Teams?.Away?.Id))
                    .ToList();
                    if (matchesForFavouriteClubs.Any())
                    {
                        <table class="matches-table">
                            <tbody>
                                @foreach (var match in matchesForFavouriteClubs)
                                {
                                    <tr @onclick="() => ToggleMatchDetails(match.Details.Id)" class="@GetRowClass(match)">
                                        <td class="minute-display">
                                            <div class="content-center">
                                                @GetMinuteDisplay(match)
                                            </div>
                                        </td>
                                        <td class="home-team-cell">
                                            <div class="content-center">
                                                @match.Teams?.Home?.Name
                                                <img src="@match.Teams?.Home?.Logo" alt="Home Team Logo" />
                                                <button @onclick="() => AddToFavourite(match.Teams?.Home)" class="favourite-button">
                                                    <i class="@GetStarClass(match.Teams?.Home)"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td class="score-cell">
                                            <div class="content-center">
                                                @GetScoreOrTime(match, out var minuteDisplay)
                                            </div>
                                        </td>
                                        <td class="away-team-cell">
                                            <div class="content-center">
                                                <button @onclick="() => AddToFavourite(match.Teams?.Away)" class="favourite-button">
                                                    <i class="@GetStarClass(match.Teams?.Away)"></i>
                                                </button>
                                                <img src="@match.Teams?.Away?.Logo" alt="Away Team Logo" />
                                                @match.Teams?.Away?.Name
                                            </div>
                                        </td>

                                    </tr>
                                    @if (selectedMatchId == match.Details?.Id)
                                    {
                                        <tr class="match-details">
                                            <td colspan="4">
                                                <div class="toggle-bar" @onclick="() => ToggleLineups(match.Details.Id)">
                                                    <span>@($"{(lineupsVisible ? "▼" : "►")} Show Lineup")</span>
                                                </div>
                                                @if (lineupsVisible)
                                                {
                                                    <div class="lineup-match-details-flex-container">
                                                        @if (lineupDetails.TryGetValue(match.Details?.Id ?? -1, out var lineupResponse) && lineupResponse.Response.Any())
                                                        {
                                                            @foreach (var lineup in lineupResponse.Response)
                                                            {
                                                                <div class="lineup-match-details-container @(match?.Teams?.Home?.Id == lineup?.Team?.Id ? "home-lineup" : "away-lineup")">
                                                                    <img src="@lineup?.Team?.Logo" alt="@lineup?.Team?.Name Logo" class="team-logo" />
                                                                    <div class="team-lineup-info">
                                                                        <h5>@lineup?.Team?.Name</h5>
                                                                        <p>Formation: @lineup?.Formation</p>
                                                                        <div class="starting-xi">
                                                                            <h6>Starting XI</h6>
                                                                            @foreach (var player in lineup.StartXI)
                                                                            {
                                                                                var playerEvents = matchEvents.Where(e => e.Player.Id == player.Player.Id).ToList();
                                                                                string playerClass = "";
                                                                                string subDetailOut = "";
                                                                                string subDetailIn = "";
                                                                                string substitutionIcon = "";

                                                                                <div class="@playerClass">
                                                                                    <div class="player-info">
                                                                                        @if (match.Teams.Away.Id == lineup.Team.Id)
                                                                                        {
                                                                                            @foreach (var evt in playerEvents)
                                                                                            {
                                                                                                @DisplayEventIcon(evt)
                                                                                            }
                                                                                        }

                                                                                        @player.Player.Name @player.Player.Number

                                                                                        @if (match.Teams.Home.Id == lineup.Team.Id)
                                                                                        {
                                                                                            @foreach (var evt in playerEvents)
                                                                                            {
                                                                                                @DisplayEventIcon(evt)
                                                                                            }
                                                                                        }
                                                                                    </div>
                                                                                    @if (!string.IsNullOrEmpty(subDetailOut) || !string.IsNullOrEmpty(subDetailIn))
                                                                                    {
                                                                                        <div class="substitution-details">
                                                                                            <span class="@playerClass">@subDetailOut</span>
                                                                                            <span class="@playerClass">@subDetailIn</span>
                                                                                        </div>
                                                                                    }
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                        <div class="substitutes">
                                                                            <h6>Substitutes</h6>
                                                                            @foreach (var sub in lineup.Substitutes)
                                                                            {
                                                                                var playerEvents = matchEvents.Where(e => e.Player.Id == sub.Player.Id).ToList();
                                                                                string playerClass = "";
                                                                                string subDetailOut = "";
                                                                                string subDetailIn = "";
                                                                                string substitutionIcon = "";
                                                                                <div class="@playerClass">
                                                                                    <div class="player-info">
                                                                                        @if (match.Teams.Away.Id == lineup.Team.Id)
                                                                                        {
                                                                                            @foreach (var evt in playerEvents)
                                                                                            {
                                                                                                @DisplayEventIcon(evt)
                                                                                            }
                                                                                        }

                                                                                        @sub.Player.Name @sub.Player.Number

                                                                                        @if (match.Teams.Home.Id == lineup.Team.Id)
                                                                                        {
                                                                                            @foreach (var evt in playerEvents)
                                                                                            {
                                                                                                @DisplayEventIcon(evt)
                                                                                            }
                                                                                        }
                                                                                    </div>
                                                                                    @if (!string.IsNullOrEmpty(subDetailOut) || !string.IsNullOrEmpty(subDetailIn))
                                                                                    {
                                                                                        <div class="substitution-details">
                                                                                            <span class="@playerClass">@subDetailOut</span>
                                                                                            <span class="@playerClass">@subDetailIn</span>
                                                                                        </div>
                                                                                    }
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <p class="no-data-message">No lineups available for this match. Please check back later for updates.</p>
                                                        }
                                                    </div>
                                                }
                                                <div class="toggle-bar" @onclick="() => ToggleStatistics(match.Details.Id)">
                                                    <span>@($"{(statsVisible ? "▼" : "►")} Show Statistics")</span>
                                                </div>
                                                @if (statsVisible)
                                                {
                                                    <div class="team-stats-container">
                                                        @if (matchDetails.TryGetValue(match.Details?.Id ?? -1, out var statsResponse) && statsResponse.Response.Any())
                                                        {
                                                            @foreach (var teamStats in statsResponse.Response)
                                                            {
                                                                <div class="team-stats @(teamStats.Team?.Id == match.Teams?.Home?.Id ? "home-team" : "away-team")">
                                                                    <img src="@teamStats.Team?.Logo" alt="@teamStats.Team?.Name Logo" />
                                                                    <h2>@teamStats.Team?.Name</h2>
                                                                    @foreach (var stat in teamStats.Statistics)
                                                                    {
                                                                        <p><strong>@stat.Type</strong><br> @(stat.Value?.ToString() ?? "0")</p>
                                                                    }
                                                                </div>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <p class="no-data-message">No statistics available for this match. Please check back later for updates.</p>
                                                        }
                                                    </div>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="no-match-message">
                            <p>No matches scheduled for @fixtureDateGroup.Key.ToString("dddd, MMMM dd") for your favorite clubs.</p>
                        </div>
                    }
                }
            }
            else
            {
                <p>Select a league to view its matches or add clubs to favorites to view their fixtures.</p>
            }
        }
    </div>
</div>


@code {
    private Dictionary<string, List<Fixture>> groupedFixtures = new Dictionary<string, List<Fixture>>();
    private Dictionary<string, bool> expandedCountries = new Dictionary<string, bool>();
    private Dictionary<(string, int), bool> expandedLeagues = new Dictionary<(string, int), bool>();
    private Dictionary<int, StatisticsResponse> matchDetails = new Dictionary<int, StatisticsResponse>();
    private Dictionary<DateTime, List<Fixture>> fixturesByDate = new Dictionary<DateTime, List<Fixture>>();
    private Dictionary<string, bool> savedExpandedCountries = new Dictionary<string, bool>();
    private Dictionary<int, LineupsResponse> lineupDetails = new Dictionary<int, LineupsResponse>();
    private string errorMessage = string.Empty;
    private Timer? _refreshTimer;
    private const int RefreshInterval = 300000;
    private int selectedMatchId = -1;
    private int? selectedLeagueId = null;
    private DateTime startDate = DateTime.Today;
    private DateTime endDate = DateTime.Today.AddDays(6);
    private bool showStandings = false;
    private List<Standing> leagueStandings = new List<Standing>();
    private int currentSeason = 2023;
    private bool statsVisible = true;
    private bool lineupsVisible = false;
    private List<FavouriteClub> FavouriteClubs = new List<FavouriteClub>();
    private bool showAddFavouriteClubModal = false;
    private bool showingFavourites = false;
    private Dictionary<DateTime, List<Fixture>> favouriteFixturesByDate = new Dictionary<DateTime, List<Fixture>>();
    private Dictionary<DateTime, List<Fixture>> leagueFixturesByDate = new Dictionary<DateTime, List<Fixture>>();
    private DateTime _lastDataUpdateTime = DateTime.MinValue;
    private bool isLoadingFixtures = false;
    private List<MatchEvent> matchEvents = new List<MatchEvent>();
    string playerClass = "";
    string subDetailOut = "";
    string subDetailIn = "";
    string substitutionIcon = "";


    protected override async Task OnInitializedAsync()
    {
        await RefreshDataIfNeeded();
        matchEvents = await FootballApiService.GetMatchEventsAsync(selectedMatchId);
        _refreshTimer = new Timer(Callback, null, RefreshInterval, RefreshInterval);
    }

    private readonly object _refreshLock = new object();


    private async Task RefreshData()
    {
        SaveExpansionStates();

        try
        {
            Console.WriteLine("Refreshing data...");
            await LoadAndGroupFixtures();
            UpdateElapsedTimes();
            await RefreshMatchStatistics();
            Console.WriteLine("Data refreshed successfully.");
        }
        catch (Exception ex)
        {
            errorMessage = $"An error occurred during data refresh: {ex.Message}";
            Console.WriteLine(errorMessage);
        }

        RestoreExpansionStates();
        await InvokeAsync(StateHasChanged);
    }

    private void UpdateElapsedTimes()
    {
        var now = DateTime.UtcNow;
        foreach (var fixturesOnDate in fixturesByDate.Values)
        {
            foreach (var fixture in fixturesOnDate)
            {
                // Only update if the match is currently in the first or second half.
                if (fixture.Details.Status.Short == "1H" || fixture.Details.Status.Short == "2H")
                {
                    var matchStartTime = fixture.Details.Date.ToUniversalTime();
                    var elapsed = (int)(now - matchStartTime).TotalMinutes;
                    fixture.Details.Status.Elapsed = elapsed;
                }
            }
        }
    }

    private async Task RefreshFixtures()
    {
        await LoadAndGroupFixtures();
        StateHasChanged();
    }

    private async Task RefreshMatchStatistics()
    {
        var matchIdsToUpdate = expandedLeagues
            .Where(kv => kv.Value)
            .SelectMany(kv => groupedFixtures[kv.Key.Item1]
                .Select(f => f.Details.Id))
            .Distinct()
            .ToList();

        bool shouldUpdateUI = false;

        foreach (var matchId in matchIdsToUpdate)
        {
            if (!matchDetails.ContainsKey(matchId) || selectedMatchId == matchId)
            {
                var statistics = await FootballApiService.GetMatchStatisticsAsync(matchId);
                if (statistics != null)
                {
                    matchDetails[matchId] = statistics;
                    shouldUpdateUI = true;
                }
            }
        }

        if (shouldUpdateUI)
        {
            await InvokeAsync(StateHasChanged);
        }
    }

    private async void Callback(object? state)
    {
        await RefreshDataIfNeeded();
    }

    private async Task RefreshDataIfNeeded()
    {
        if ((DateTime.UtcNow - _lastDataUpdateTime).TotalMinutes >= 5)
        {
            await RefreshData();
            _lastDataUpdateTime = DateTime.UtcNow;
        }
    }

    private DateTime _lastRefreshTime = DateTime.MinValue;


    private async Task LoadAndGroupFixtures()
    {
        try
        {
            groupedFixtures.Clear();
            expandedCountries.Clear();
            expandedLeagues.Clear();
            fixturesByDate.Clear();

            var startDate = DateTime.UtcNow.Date;
            var endDate = startDate.AddDays(6);

            var fixtures = await FootballApiService.GetFixturesByDateRangeAsync(startDate, endDate);

            if (!groupedFixtures.Any())
            {
                var startDateLocal = DateTime.UtcNow.Date;
                var endDateLocal = startDateLocal.AddDays(6);

                var fixturesLocal = await FootballApiService.GetFixturesByDateRangeAsync(startDateLocal, endDateLocal);
                if (fixturesLocal == null || !fixturesLocal.Any())
                {
                    errorMessage = "No matches found for the selected period.";
                    return;
                }

            }

            var leaguesWithMatchesToday = fixtures
                .Where(f => f.Details.Date.Date == startDate)
                .Select(f => f.League.Id)
                .Distinct()
                .ToList();

            // Group fixtures by date
            fixturesByDate = fixtures
                .GroupBy(f => f.Details.Date.Date)
                .ToDictionary(g => g.Key, g => g.ToList());

            var fixturesGroupedByCountryAndLeague = fixtures
                .Where(f => leaguesWithMatchesToday.Contains(f.League.Id))
                .GroupBy(f => f.League.Country)
                .ToDictionary(
                    g => g.Key,
                    g => g.GroupBy(f => f.League.Id)
                          .Where(lg => leaguesWithMatchesToday.Contains(lg.Key))
                          .SelectMany(lg => lg)
                          .ToList()
                );

            groupedFixtures = fixturesGroupedByCountryAndLeague;


            // Sort countries based on priority
            var priorityCountries = new List<string> { "England", "Spain", "Italy", "Germany", "France", "Ireland", "World" };

            groupedFixtures = groupedFixtures
                .OrderByDescending(kvp => priorityCountries.Contains(kvp.Key) ? 1 : 0)
                .ThenBy(kvp => kvp.Key)
                .ToDictionary(kvp => kvp.Key, kvp => kvp.Value);
            foreach (var country in groupedFixtures.Keys)
            {
                expandedCountries[country] = false; // Countries collapsed by default
                foreach (var league in groupedFixtures[country].Select(f => f.League.Id).Distinct())
                {
                    expandedLeagues[(country, league)] = false; // Leagues collapsed by default
                }
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Error loading fixtures: {ex.Message}";
            Console.WriteLine(errorMessage);
            groupedFixtures.Clear();
            expandedCountries.Clear();
            expandedLeagues.Clear();
            fixturesByDate.Clear(); // Also clear the date grouping on error
        }
    }


    private void InitializeExpansionStates()
    {
        foreach (var group in groupedFixtures)
        {
            expandedCountries[group.Key] = false;
            foreach (var fixture in group.Value)
            {
                if (fixture?.League?.Id != null)
                {
                    expandedLeagues[(group.Key, fixture.League.Id)] = false;
                }
            }
        }
    }

    private async Task RefreshFixtures(object state)
    {
        await LoadAndGroupFixtures();
        StateHasChanged();
    }

    private void ToggleCountry(string country)
    {
        if (expandedCountries.ContainsKey(country))
        {
            expandedCountries[country] = !expandedCountries[country];
        }
        else
        {
            expandedCountries.Add(country, true);
        }
    }

    private void ToggleLeague(string country, int leagueId)
    {
        SelectLeague(leagueId);
    }

    private string GetScoreOrTime(Fixture fixture, out string minuteDisplay)
    {
        minuteDisplay = string.Empty;

        if (fixture?.Details?.Date > DateTime.UtcNow)
        {
            return fixture.Details.Date.ToString("HH:mm");
        }
        else if (fixture?.Details?.Status?.Short == "1H" || fixture?.Details?.Status?.Short == "2H" || fixture?.Details?.Status?.Short == "HT")
        {
            minuteDisplay = $"({fixture.Details?.Status?.Elapsed}') ";
            return $"{fixture.Goals?.Home}-{fixture.Goals?.Away}";
        }
        else if (fixture?.Details?.Status?.Short == "FT")
        {
            return $"{fixture.Score?.Fulltime?.Home}-{fixture.Score?.Fulltime?.Away}";
        }
        else
        {
            return "TBD";
        }
    }

    private string GetMinuteDisplay(Fixture fixture)
    {
        if (fixture?.Details?.Status?.Short == "1H" || fixture?.Details?.Status?.Short == "2H" || fixture?.Details?.Status?.Short == "HT")
        {
            return $"{fixture.Details?.Status?.Elapsed}'";
        }
        else
        {
            return "";
        }
    }

    public void Dispose()
    {
        _refreshTimer?.Dispose();
    }

    private async Task ToggleMatchDetails(int matchId)
    {
        if (selectedMatchId == matchId)
        {
            selectedMatchId = -1;
            matchEvents.Clear();
        }
        else
        {
            selectedMatchId = matchId;
            if (!matchDetails.ContainsKey(matchId))
            {
                var statistics = await FootballApiService.GetMatchStatisticsAsync(matchId);
                if (statistics != null)
                {
                    matchDetails[matchId] = statistics;
                }
            }
            if (!lineupDetails.ContainsKey(matchId))
            {
                var lineups = await FootballApiService.GetMatchLineupsAsync(matchId);
                if (lineups != null)
                {
                    lineupDetails[matchId] = lineups;
                }
            }
            matchEvents = await FootballApiService.GetMatchEventsAsync(matchId);

            Console.WriteLine($"Fetched {matchEvents.Count} match events for match ID {matchId}.");
        }
        StateHasChanged();
    }


    private async Task SelectLeague(int leagueId)
    {
        isLoadingFixtures = true;
        if (selectedLeagueId != leagueId)
        {
            selectedLeagueId = leagueId;
            showingFavourites = false;
            selectedMatchId = -1;
            favouriteFixturesByDate.Clear();
            await LoadLeagueFixtures();
            isLoadingFixtures = false;
            StateHasChanged();
        }
    }

    private string GetRowClass(Fixture fixture)
    {
        return selectedMatchId == fixture.Details?.Id ? "selected-match" : "";
    }
    private List<Fixture> GetFixturesForSelectedLeagueAndDateRange()
    {
        if (!selectedLeagueId.HasValue) return new List<Fixture>();

        return groupedFixtures
            .SelectMany(kv => kv.Value)
            .Where(f => f.League.Id == selectedLeagueId.Value
                        && f.Details.Date >= startDate
                        && f.Details.Date <= endDate)
            .OrderBy(f => f.Details)
            .ToList();
    }

    private void SaveExpansionStates()
    {
        savedExpandedCountries.Clear();

        foreach (var country in expandedCountries)
        {
            savedExpandedCountries[country.Key] = country.Value;
        }
    }

    private void RestoreExpansionStates()
    {
        foreach (var country in savedExpandedCountries.Keys)
        {
            if (expandedCountries.ContainsKey(country))
            {
                expandedCountries[country] = savedExpandedCountries[country];
            }
            else
            {
                expandedCountries[country] = false;
            }
        }
    }

    private async Task ToggleStandings()
    {
        showStandings = !showStandings;

        if (showStandings && selectedLeagueId.HasValue)
        {
            await LoadLeagueStandings(selectedLeagueId.Value, currentSeason);
        }
        else
        {
            leagueStandings.Clear();
        }

        StateHasChanged();
    }

    private async Task LoadLeagueStandings(int leagueId, int season)
    {
        var standingsResponse = await FootballApiService.GetLeagueStandingsAsync(leagueId, season);
        if (standingsResponse != null && standingsResponse.Any())
        {
            leagueStandings = standingsResponse.First().League.Standings.FirstOrDefault() ?? new List<Standing>();
        }
        else
        {
            leagueStandings.Clear();
        }
    }

    private string GetAlignmentClass(int teamId, Fixture match)
    {
        return match.Teams?.Home?.Id == teamId ? "align-left" : "align-right";
    }

    private string GetPlayerListing(LineupPlayer player, int teamId, Fixture match)
    {
        if (match.Teams?.Home?.Id == teamId)
        {
            return $"{player.Player?.Number} - {player.Player?.Name}";
        }
        else
        {
            return $"{player.Player?.Name} - {player.Player?.Number}";
        }
    }

    private void ToggleStatistics(int matchId)
    {
        if (selectedMatchId == matchId)
        {
            statsVisible = !statsVisible;
            if (statsVisible)
            {
                lineupsVisible = false;
            }
        }
    }

    private void ToggleLineups(int matchId)
    {
        if (selectedMatchId == matchId)
        {
            lineupsVisible = !lineupsVisible;
            if (lineupsVisible)
            {
                statsVisible = false;
            }
        }
    }

    private async Task LoadFavouriteClubFixtures()
    {
        showingFavourites = true;
        selectedLeagueId = null;
        leagueFixturesByDate.Clear();
        await LoadFavouriteFixtures();
        StateHasChanged();
    }


    private async Task ToggleFavouritesView()
    {
        showingFavourites = !showingFavourites;
        if (showingFavourites)
        {
            selectedLeagueId = null;
            selectedMatchId = -1;
            await LoadFavouriteClubFixtures();
        }
        StateHasChanged();
    }

    private void ShowAddFavouriteClubModal()
    {
        showAddFavouriteClubModal = true;
    }

    private void HideAddFavouriteClubModal()
    {
        showAddFavouriteClubModal = false;
    }

    private void AddToFavourite(Team team)
    {
        if (team is null) return;

        var existingClub = FavouriteClubs.FirstOrDefault(c => c.ClubId == team.Id);
        if (existingClub == null)
        {
            FavouriteClubs.Add(new FavouriteClub { ClubId = team.Id, ClubName = team.Name });
        }
    }

    private async Task LoadFavouriteFixtures()
    {
        favouriteFixturesByDate.Clear();
        var favouriteClubIds = FavouriteClubs.Select(fc => fc.ClubId).ToList();

        var startDate = DateTime.Today;
        var endDate = startDate.AddDays(6);
        var allFixtures = await FootballApiService.GetFixturesByDateRangeAsync(startDate, endDate);

        favouriteFixturesByDate = allFixtures
            .Where(fixture => favouriteClubIds.Contains(fixture.Teams?.Home?.Id ?? -1) ||
                              favouriteClubIds.Contains(fixture.Teams?.Away?.Id ?? -1))
            .GroupBy(f => f.Details.Date.Date)
            .ToDictionary(g => g.Key, g => g.ToList());
    }

    private async Task LoadLeagueFixtures()
    {
        leagueFixturesByDate.Clear();
        if (selectedLeagueId.HasValue)
        {
            var startDate = DateTime.Today;
            var endDate = startDate.AddDays(6);
            var fixtures = await FootballApiService.GetFixturesByDateRangeAsync(startDate, endDate);

            leagueFixturesByDate = fixtures
                .Where(f => f.League.Id == selectedLeagueId.Value)
                .GroupBy(f => f.Details.Date.Date)
                .ToDictionary(g => g.Key, g => g.ToList());
        }
    }

    private bool IsFavourite(Team team)
    {
        return FavouriteClubs.Any(f => f.ClubId == team?.Id);
    }

    private string GetStarClass(Team team)
    {
        return FavouriteClubs.Any(fc => fc.ClubId == team?.Id) ? "fas fa-star favourite-star" : "far fa-star";
    }

    private string GetPlayerClass(LineupPlayer player, List<MatchEvent> matchEvents)
    {
        var playerEvent = matchEvents.FirstOrDefault(e => e.Player.Id == player.Id);
        if (playerEvent != null && playerEvent.Type == "subst")
        {
            return "player-subbed";
        }
        return "";
    }

    private bool HasScored(LineupPlayer player, List<MatchEvent> matchEvents)
    {
        return matchEvents.Any(e => e.Player.Id == player.Id && e.Type == "Goal");
    }

    private bool HasCard(LineupPlayer player, List<MatchEvent> matchEvents, string cardType)
    {
        return matchEvents.Any(e => e.Player.Id == player.Id && e.Detail == cardType);
    }

    private bool IsSubstituted(LineupPlayer player, List<MatchEvent> matchEvents)
    {
        bool isSubbedOut = matchEvents.Any(e => e.Player.Id == player.Player.Id && e.Type == "subst" && e.Detail == "Substitution out");
        bool isSubbedIn = matchEvents.Any(e => e.Player.Id == player.Player.Id && e.Type == "subst" && e.Detail == "Substitution in");

        return isSubbedOut || isSubbedIn;
    }

    private MarkupString DisplayEventIcon(MatchEvent evt)
    {
        string icon = "";
        if (evt.Type == "Goal")
        {
            icon = "<i class=\"fas fa-futbol\" title=\"Goal\"></i>";
        }
        else if (evt.Detail == "Yellow Card")
        {
            icon = "<i class=\"fas fa-square\" style=\"color: yellow; margin-right: 5px;\" title=\"Yellow Card\"></i>";
        }
        else if (evt.Detail == "Red Card")
        {
            icon = "<i class=\"fas fa-square\" style=\"color: red; margin-right: 5px;\" title=\"Red Card\"></i>";
        }
        else if (evt.Type == "subst")
        {
            if (evt.Detail == "Substitution out")
            {
                playerClass = "player-subbed-out";
                subDetailOut = $"Subbed out at {evt.Time.Elapsed}'";
                substitutionIcon = "<i class=\"fas fa-exchange-alt\" title=\"Substituted out\"></i>";
            }
            if (evt.Detail == "Substitution in")
            {
                playerClass = "player-subbed-in";
                subDetailIn = $"Subbed in at {evt.Time.Elapsed}'";
                substitutionIcon = "<i class=\"fas fa-exchange-alt\" title=\"Substituted in\"></i>";
            }
        }
        return new MarkupString(icon + substitutionIcon);
    }
}